# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend
src/frontend/node_modules/
src/frontend/build/
src/frontend/public/data/gamesData.json

# Backend
src/backend/node_modules/
src/backend/.env
src/backend/logs/
src/backend/*.log
src/backend/data/gamesData.json
src/backend/data/books.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
*.gz
*log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.idea/
.vscode/

# Docker
.dockerignore
docker-compose.override.yml

# Database files
*.sqlite
*.sqlite3
*.db
*.db-journal
