.writerreader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 16px;
    box-sizing: border-box;
  }

.books-spiderChart {
    width: 80vw;
    max-width: 1200px;
    justify-content: center;
}

.books-spiderChart svg {
    width: 100%;
}

.books-bookshelf {
    width: 80vw;
    max-width: 1200px;
}